@model IEnumerable<Prueba.Models.Encuesta>

@{
    ViewBag.Title = "Encuestas";
}

<h2>Encuestas</h2>

<p>
    @Html.ActionLink("Crear una encuesta nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id_encuesta }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id_encuesta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id_encuesta }) |
            @Html.ActionLink("Generar link", "Generate", new { id = item.id_encuesta })
        </td>
    </tr>
}

</table>
